.custom {
    background-image: linear-gradient(to bottom, #401254, #4b116a, #541082, #5b109b, #6012b5);
    height: 100vh;
}
.navbar{
    background-color: #401254!important;
    
    
}

.navbar-brand{
    left: 50%;
    text-align: center;
    color: aliceblue!important;
    font-weight: 700;
    font-size: 3em;
    margin: auto;
}

.form-label-group{
    text-align: center
}

.form-label-group input{
    border-radius: 2rem;
    height: 3em;
}

.form-label-group input:focus{
    
}