<div class="container-fluid custom">
  <div class="row">
    <div class="col-md-6 col-xl-4 col-lg-4 col-sm-12 mx-auto">
        <div class="card text-center " style="margin:auto;background-color: rgba(245, 245, 245, 0.5);margin-top: 50px;border-radius: 2em">
            <div class="card-body" *ngIf="!show">
          <form >
            <div class="form-group" >
              <label for="exampleInputEmail1">Email address</label>
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" [(ngModel)]="email" name="mail">
              <small class="">Enter email address or <span style="color:blue;cursor: pointer">
                <a (click)="token()" >Click here</a>
              </span> to enter token</small>
              <br>
              <button type="submit" class="btn btn-success  text-uppercase" style="border-radius: 2em" (click)="forgotpassword()">Generate Token</button>
              </div>
            </form>
          </div>
          <div class="card-body" *ngIf="show">
            <form>
              <div class="form-group" >
                <label >Token</label>
                <input type="text" class="form-control" id="text" placeholder="Enter Token" [(ngModel)]="tokeninfo"  name="tokeninfo">
                <label >Email</label>
                <input type="text" class="form-control" id="text" placeholder="Enter email" [(ngModel)]="mail" name="mailinfo">
                <label >New Password</label>
                <input type="text" class="form-control" id="text" placeholder="Enter New Password" [(ngModel)]="passInfo"  name="passinfo"> <br>
                <button type="submit" class="btn btn-success text-uppercase" (click)="newPassword()" style="margin-top:3px;border-radius: 2em">Reset Password</button>
                </div>
              </form>
          </div>
          </div>
    </div>
  </div>

</div>
